/* =================== imported fonts =================== */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* ---------- sub-header ---------- */

/* =================== global variables =================== */
/* :root {

} */

/* =================== reset default styles =================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =================== base page styles =================== */
body {
	font-family: 'VT323', monospace;
}

/* =================== font styles =================== */
h1 {
	font-size: 4em;

}
/* =================== constants =================== */

/* =================== media queries =================== */
.subtitle {
	position: fixed;
	z-index: 2;
	color: white;
	padding: 1rem;
}

#sound {
	display: none;
}